<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"/>
  <ion-card>
    <ion-card-content>
      <p>Address: Fake street,111</p>
      <p>Complement: Apto 2111</p>
      <p>Neighborhood: Neighborhood</p>
      <p>Zip code:123457</p>
      <p>City name- state</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label>Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full"  color="success">Create pickup call</ion-button>
</ion-content>
